@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

header{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    /* background: url(images/landscape.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 100%; */
}
header::before{
    content:"" ;
    position: absolute;
    width: 100%;
    height: 60vh;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, rgb(0, 0, 0, 5), rgb(0, 0, 0, 0));
    /* background: linear-gradient(to bottom, rgb(0, 0, 0, 5), rgb(0, 0, 0, 0)); */
}

nav,
.header-bottom {
    display: flex;
    justify-content: space-between;
    padding: 24px 32px;
    position: relative;
    /* height: 400px; */
}
.header-bottom ul li a{
    transition: 0.8s;
}
.header-bottom ul li a:hover{
    color: red;
}
nav .logo {
    display: flex;
    font-size: 25px;
    font-weight: 400;
    /* color: yellow; */
    gap: 10px;
}
nav .logo img{
    width: 40px;
}
nav .btn-about{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-weight: 400;
    border-radius: 50px;
    height: 35px;
    width: 70px;
    transition: 0.5s;
}
nav .btn-about:hover{
    background-color: white;
    color: black;
}

header .header-tittle{
    margin: auto;
    font-size: 58px;
    position: relative;
    font-weight: 600;
    letter-spacing: 2px;
    z-index: 5;
}
header .social-media{
    display: flex;
    list-style: none;
    width: 300px;
    justify-content: space-between;
    align-items: center;
}

header .social-media li a{
    color: white;
}
 /* SECTION */
.about{
    background-color: black;
    width: 100%;
    padding: 200px 0;
}
.about-container{
    width: 75%;
    margin: auto;
}

.img-gallery{
    display: flex;
    width: 100%;
    min-height: 500px;
    justify-content: space-between;
    margin-bottom: 32px;
}

.img-box{
    width: 23%;
    height: 400px;
    position: relative;
}

.img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    transition: 0.7s;
}

.img-box img:hover{
    opacity: 0.5;
    transform: translateY(-10px);
}

.img-box:nth-child(odd){
    align-self: flex-end;
}

.about-info{
    width: 100%;
    padding: 24px;
    text-align: center;
}
/* SECTION END */

/* FOOTER */
footer{
    width: 100%;
    padding: 24px;
    text-align: center;
    background-color: gray;
}

/* RESPONSIVE */
@media only screen and (max-width: 768px) {
    .about-container {
        width: 90%;
    }
    nav .logo {
        display: flex;
        font-size: 15px;
        font-weight: 400;
        /* color: yellow; */
        gap: 5px;
    }
    
    nav .logo img {
        width: 30px;
        /* height: 30px; */
    }
    nav .btn-about{
        height: 26px;
        width: 60px;
        font-weight: 500;
        font-size: 12px;
    }

    header .header-tittle{
        font-size: 38px;
    }
    
    .header-bottom{
        justify-content: center;
    }
    .today-date{
        display: none;
    }
    .img-gallery{
        flex-direction: column;
        margin-bottom: 24px;
    }
    .img-box{
        width: 100%;
        height: 400px;
        margin: 16px 0;
    }
    .about-info {
        width: 100%;
        padding: 24px;
        font-size: 12px;
        text-align: center;
    }
    footer {
        width: 100%;
        padding: 15px;
        text-align: center;
        background-color: rgb(90, 90, 90);
        font-size: 10px;
    }
    
}
